<footer class="padding-block-700 bg-neutral-900">
    <div class="container">
        <div class="even-columns">
            <div class="v-about">
                <h3 class="footer-txt">Customer Service</h3>
                <ul aria-label="primary" role="list" class="fw-light | footer-txt">
                    <li><a href="">Contact us</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">Exchanges/Returns</a></li>
                    <li><a href="">Track Your Order</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div class="v-legal">
                <h3 class="footer-txt">Legal Notice</h3>
                <ul aria-label="primary" role="list" class="fw-light | footer-txt">
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="v-socials">
                <h3 class="footer-txt">Social Media</h3>
                <ul aria-label="primary" role="list" class="fw-light | footer-txt">
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">X</a></li>
                    <li><a href="">Pinterest</a></li>
                </ul>
            </div>
        </div>

        <div class="v-copyright">
            <p class="fw-bold | footer-txt">© 2024 VISIONARY</p>
            <p class="footer-txt">All rights reserved. Visionary Co., Ltd.</p>
        </div>
    </div>
</footer>