<div class="menu">
    <form action="">
        <div class="search-bar">
            <i class="ri-search-line | search-icon"></i>
            <input type="search" class="search-input" placeholder="Search">
        </div>
    </form>

    <div class="menu-links">
        <ul aria-label="primary" role="list">
            <li>
                <a href="glasses"><h2>Glasses</h2></a>
            </li>
            <li>
                <a href="sunglasses"><h2>Sunglasses</h2></a>
            </li>
            <li>
                <a href="stores"><h2>Stores</h2></a>
            </li>
        </ul>
    </div>
</div>