<header class="primary-header">
    <div class="container">
        <div class="nav-wrapper">

            <div class="nav-logo">
                <i class="ri-menu-line" id="menu-icon"></i>
                <div class="logo"><a href="/">VISIONARY</a></div>
            </div>

            <div class="nav-links">
                <nav>
                    <ul aria-label="primary" role="list" class="nav-list">
                        <li class="nav-item"><a href="glasses">Glasses</a></li>
                        <li class="nav-item"><a href="sunglasses">Sunglasses</a></li>
                        <li class="nav-item"><a href="stores">Stores</a></li>
                    </ul>
                </nav>    
            </div>

            <div class="nav-icons">
                <ul aria-label="primary" role="list">
                    <li>
                        <i class="ri-search-line"></i>
                    </li>
                    <li>
                        <a href="login"><i class="ri-user-line"></i></a>
                    </li>
                    <li>
                        <span class="num">0</span>
                        <i class="ri-shopping-bag-line" id="cart-icon"></i>
                    </li>
                </ul>  
            </div>

        </div>
    </div>
</header>

<!-- Nav Search -->
<div class="nav-search" id="nav-search">
    <form action="">
        <div class="nav-search-bar">
            <input type="search" class="nav-search-input" placeholder="Search">
        </div>
    </form>
</div>