<section class="product-grid">
    <div class="container">
        <h1>You may also like:</h1>
        <div class="products">
            <div class="product-box" data-id="1" data-name="Lilo" data-price="400">
                <img class="img-default" src="/images/g-01a.webp" alt="">
                <a href="product-lilo"><img class="img-hover" src="/images/g-01b.webp" alt=""></a>
                <div class="product-info">
                    <p>Lilo <span class="fw-medium">&nbsp;| $400</span></p>
                    <button class="add-to-cart"><i class="ri-shopping-bag-line"></i></button> 
                </div>
            </div>
        
            <div class="product-box" data-id="2" data-name="Gimpo" data-price="250">
                <img class="img-default" src="/images/g-02a.webp" alt="">
                <a href="product-gimpo"><img class="img-hover" src="/images/g-02b.webp" alt=""></a>
                <div class="product-info">
                    <p>Gimpo <span class="fw-medium">&nbsp;| $250</span></p>
                    <button class="add-to-cart"><i class="ri-shopping-bag-line"></i></button> 
                    </div>
            </div>
        
            <div class="product-box" data-id="3" data-name="Lee" data-price="450">
                <img class="img-default" src="/images/sg-01a.webp" alt="">
                <a href="product-lee"><img class="img-hover" src="/images/sg-01b.webp" alt=""></a>
                <div class="product-info">
                    <p>Lee <span class="fw-medium">&nbsp;| $450</span></p>
                    <button class="add-to-cart"><i class="ri-shopping-bag-line"></i></button> 
                    </div>
            </div>
        
            <div class="product-box" data-id="4" data-name="Babo" data-price="250">
                <img class="img-default" src="/images/g-03a.webp" alt="">
                <a href="product-babo"><img class="img-hover" src="/images/g-03b.webp" alt=""></a>
                <div class="product-info">
                    <p>Babo <span class="fw-medium">&nbsp;| $250</span></p>
                    <button class="add-to-cart"><i class="ri-shopping-bag-line"></i></button> 
                    </div>
            </div>
        </div>

        <div class="product-slogan">
            <h1>See clearly. Live boldly.</h1>
        </div>
    </div>
</section>