<div id="sidecart" class="sidecart">
    <div class="cart-content">
        <div class="cart-header">
            <a href="cart"><span class="num">0</span><i class="ri-shopping-bag-line" id="cart-icon"></i></a>
            <h2>CART</h2>
            <span id="close-cart" class="close-cart">&times;</span>
        </div>

        <div class="cart-items-container"></div>

        <!-- <div class="cart-items">
            <div class="item-img">
                <img src="../images/g-01a.webp" alt="">
            </div>

            <div class="item-name">Lilo</div>
            <div class="item-price">$400</div>    
            
            <div class="item-quantity">
                <span class="minus">-</span>
                <span>1</span>
                <span class="plus">+</span>
            </div>

            <div class="item-exclude">
                <i class="ri-delete-bin-2-line"></i>    
            </div>
        </div> -->

        <div class="cart-actions">
            <div class="cart-subtotal">
                <p>SUBTOTAL:</p>
                <p>$<span id="subtotal-price">0</span></p>
            </div>
            <div class="cart-button">
                <button onclick="window.location.href='cart'">CHECKOUT</button>   
                <!-- <a href="cart"><button id="checkout-button">CHECKOUT</button></a>     -->
            </div>
        </div>
    </div>
</div>